
.MainContainer {
    height: 100vh;
    width: 100vw;
}

.titleContainer {

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10%;
    width: 100%;


    background-color: #104365;

    position: relative;
    z-index: 2;

    h1 {
        margin: 0;
        color: #FFFF;
    }

    img {

        margin-left: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}


